<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>三</title>
</head>
<body>
 这个是index3页面
<table width="300px" style="text-align: center">
    <tr>
        <td>用户的id</td>
        <td>用户的名字</td>
        <td>用户的年龄</td>
    </tr>
    <tr th:each="user,start:${list}">
       <!-- <td th:text="${start.index+1}"></td>//索引下标从零开始-->
        <!-- <td th:text="${start.count}"></td>//索引下标从1开始-->
        <!-- <td th:text="${start.size}"></td>//集合大小-->
        <!-- <td th:text="${start.current}"></td>//当前对象-->
        <!-- <td th:text="${start.odd}"></td>//奇偶-->
        <!-- <td th:text="${start.last}"></td>//上一个-->

        <td th:text="${user.id}"></td>
        <td th:text="${user.name}"></td>
        <td th:text="${user.age}"></td>
    </tr>

</table>

</body>
</html>